.scoreBoard {
    text-align: center;
    padding: 20px;

}

.restartButton {
    margin-top: 15px ;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #2196f3;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}


.restartButton:hover {
    background-color: #1976d2;
  }